*.iml
.gradle
.kotlin
/local.properties
/.idea/
.DS_Store
/build
/app/build
/baseline-profile/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
keystore.properties
*.har
*.log
/test_out*.txt
.release_notes_v*.md

# Gradle wrapper except the jar
!gradle/wrapper/gradle-wrapper.jar
